.main {
   height: 100%;
}

.header {
   grid-template-columns: max-content auto;
}

.welcome {
   justify-self: start;
   margin-bottom: 0;
}

.duckduckgo {
   height: 39px;
   width: 183px;
}

.links {
   grid-template-columns: repeat(3, 1fr);
}
