.main {
   height: 100%;
   grid-template-rows: auto auto auto 5fr auto;
}

.header {
   grid-template-columns: max-content auto;
   padding-top: 0 !important;
}

.welcome {
   justify-self: start;
}

.duckduckgo {
   height: 39px;
   width: 183px;
}

.links {
   grid-template-columns: repeat(3, 1fr);
}
